@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main" style="background-color: bisque">
        <div class="top-row justify-content-center" style="background-color: black">
             <h1 style="color: azure">Kirill Korelskiy's Legendary Games Statistics</h1>
        </div> 

        <div class="content px-4">
            @Body
            <div class="row mt-3">
                <div class="col" style="background-color: black">
                    <p><span style="color: azure">The End of 2020 - Korelskiy K.</span></p>
                </div>
            </div>
        </div>
    </div>
</div>


